################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmricServ.Blog/EmricServ.Blog.Repository/obj/Debug
