################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmricServ.Blog/EmricServ.Blog.Repository/obj/Debug
/EmricServ.Blog/EmricServ.Blog.Data/obj/Debug
/EmricServ.Blog/EmricServ.Blog.Data/bin/Debug
/EmricServ.Blog/EmricServ.Blog.Data.Interfaces/obj/Debug
/EmricServ.Blog/EmricServ.Blog.Data.Interfaces/bin/Debug
/EmricServ.Blog/EmricServ.Blog.Repository/bin/Debug
/EmricServ.Blog/packages/EntityFramework.6.1.3
/EmricServ.Blog/EmricServ.Blog.Repository.Interfaces/obj/Debug
/EmricServ.Blog/packages
/EmricServ.Blog/EmricServ.Blog.Domain/bin/Debug
/EmricServ.Blog/EmricServ.Blog.Domain/obj/Debug
/EmricServ.Blog/EmricServ.Blog.Repository.Interfaces/bin/Debug
/EmricServ.Blog/EmricServ.Blog.WebUI/bin
/EmricServ.Blog/EmricServ.Blog.WebUI/obj/Debug
